body {
  font-family: 'Montserrat', sans-serif;
  background-color: #FCFBF9;
}
#header {background-color: grey;}
/*#work {background: yellow;}*/
#about {
  background: #272932;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 30px;
  border-left: 0px;
  width: 100%;
  color: #A6A2A2;
  }
h1 {
  margin: 5px 20px 20px 20px;
  font-weight: bold !important;
  }
h2 {
  margin: 20px;
  font-weight: 800;
}

.my-name {
  letter-spacing: 1px;
}

h3 {
  margin: 10px auto 20px;
  font-weight: 300;
  font-size: large;
  }
#about img {
  margin-top: -65px;
  max-width: 130px;
  }
p {
  margin:auto 20px;
  padding: 10px;
  }

#work img {max-width: 100%}
#links {
  margin-top: 20px;
  margin-bottom: 20px;
}
.red {
  color: #DD6E6F
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}
button {
  background: rgba(255,255,255, 0.0);
  border: 0px;
}
.navbar-default {background-color: #FCFBF9;}
.my-name {margin: 5px;}


.ux-designer {margin-top:0px;}


a.scroll.add-dot {
	overflow:hidden;
  padding-top: 15px;
  padding-bottom: 15px;
  }

a.scroll.add-dot:before {
  content: url(/Users/dylan_flowers94/Desktop/dylanflowers.github.io/assets/icons/dot.png);
	position: absolute;
	right: 45%;
	bottom: -30px;
	transition: all 200ms ease;
  opacity: 0;
}

a.scroll.add-dot:hover:before {
  bottom: -3px;
  opacity: 1;
  transition-duration: 0.4s;
}

ul.nav {
  padding-bottom: 0px;
}

.nav>li>a>img {
    max-width: 75%;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 5px;
}
.read-more { max-width: 5%}

a:focus, a:hover {
  text-decoration: none;
  color:  #272932;
}

a {
  color:  #272932;
}

#read-more-text {text-decoration: underline;}
